.maindiv{
display: flex;
justify-content: center;

}

   


.order{
    
    background-color: rgb(69, 68, 68);
    border-radius: 5px;
    height: 45px;
    color: white;
    font-weight: bold;
    width: 17vw;
    cursor: pointer;
    border: grey;
    margin-top: 65vh;
    margin-bottom: 45px;
}
.order1{
    background-color:rgb(237, 237, 237) ;
    border-radius: 5px;
    height: 45px;
    font-weight: bold;
    border:rgb(183, 181, 181) ;
    width: 17vw;
    margin-top: 65vh;
    cursor: pointer;
    margin-left: 30px;
    margin-bottom: 45px;
}