.image5{
background-image: url(../assets/_25-HP-SolarPanels-D.jpg);
height: 110vh;
width: 100%;
background-size: cover;
display: flex;
justify-content: center;
align-items: center;
}
.heading7{
    margin-left: 70px;
    margin-top: -35vh;
    font-size: 6vh;
}
.heading8{
    margin-top: -20px;
    margin-left: 40px;
    

}