.image3{
    background-image: url(../assets/Homepage-Model-S-Desktop-LHD.jpg);
    height: 120vh;
    width: 100%;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
.heading3{
    margin-left: 90px;
    margin-top: -35vh;
font-size: 6vh;
}

.heading4{
    margin-top: -20px;
    margin-left: 30px;
}