.App{
  display: flex;
  justify-content:space-around;
}

li{
  list-style-type: none;
display: inline;
margin-left: 40px;
cursor: pointer;
}
.li2{
  margin-left: 40px;
  cursor: pointer;
  /* display: flex; */
}
.li3{
margin-left: 30px;
cursor: pointer;
}